pre {
    font-size: 1rem;
    line-height: 19px;
    border: 0px none;
    background: #F4F7F8 url(../design/blueprint-dark.png) repeat scroll 0% 0%;
    color: #4D4E53;
    padding: 15px;
    overflow: auto;
    margin: 0px 0px 20px;
    font-family: Consolas,Monaco,"Andale Mono",monospace;
}

.token.key {
    color: #960;
}

.token.string {
    color: #690;
}

.line-number {
    position: absolute;
    left: 0px;
    right: 0px;
    padding-top: inherit;
    padding-bottom: inherit;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 1em;
    background: transparent none repeat scroll 0px 0px;
    pointer-events: none;
    line-height: inherit;
    white-space: pre;
}